<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='./dist/output.css')}}" rel="stylesheet">
    <link href="data:image/svg+xml;utf8,<svg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 18 16'>
        <path d='M14.316.051A1 1 0 0 0 13 1v8.473A4.49 4.49 0 0 0 11 9c-2.206 0-4 1.525-4 3.4s1.794 3.4 4 3.4 4-1.526 4-3.4a2.945 2.945 0 0 0-.067-.566c.041-.107.064-.22.067-.334V2.763A2.974 2.974 0 0 1 16 5a1 1 0 0 0 2 0C18 1.322 14.467.1 14.316.051ZM10 3H1a1 1 0 0 1 0-2h9a1 1 0 1 1 0 2Z'/>
        <path d='M10 7H1a1 1 0 0 1 0-2h9a1 1 0 1 1 0 2Zm-5 4H1a1 1 0 0 1 0-2h4a1 1 0 1 1 0 2Z'/>
      </svg>" rel="icon">
    <title>TheseAre</title>
</head>
<body class="h-screen bg-white dark:bg-gray-900 dark:text-white text-center">
    <h1 class="text-amber-500 text-3xl"><b>TheseAre</b></h1>
    
    <!-- Bouton pour effectuer une action -->
    <form method="POST" action="/authenticate">
        <button type="submit" class="border font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700"><b>Authenticate</b></button>
    </form>
    <div class="h-8">

    </div>
    <div class="w-3/5 bg-gray-800 border rounded-lg mx-auto">
        <!-- Formulaire pour saisir des données -->
        <form method="POST" action="/startprogram">
            <div class="flex flex-row mb-6 justify-center">
                <div class="flex flex-col space-y-4 basis-1/5 mx-auto">
                    <div>
                        <label for="program">
                            <b>Program :</b>
                        </label>
                            <select id="program" name="program" class="text-gray-800 bg-amber-100 focus:bg-amber-200">
                                <option value="creatorhelper">Creator Helper</option>
                                <option value="bestof">Mainstream BestOf</option>
                                <option value="completionist">The Completionist</option>
                            </select>
                    </div>
                    <div hidden="hidden" id="tracks_number_div">
                        <label for="tracks_number_input">
                            <b>Number of tracks per artist :</b>
                        </label>
                        <input type="number" id="tracks_number_input" name="tracks_number_input" class="text-gray-800 w-4/5 bg-amber-100">
                    </div>
                    <div>
                        <label for="playlist">
                            <b>Playlist name :</b>
                        </label>
                        <input type="text" id="playlist" name="playlist" class="text-gray-800 w-4/5 bg-amber-100">
                    </div>
                </div>
                <div id="artists-handle-div"  class="basis-3/5">
                    <label for="artists">
                        <b>Artists :</b>
                    </label>
                    <div class="flex flex-col space-y-4">
                        <div id="artists-div" class="flex flex-col space-y-4">
                            <input type="text" id="artists" name="artists" class="text-gray-800 w-4/5 bg-amber-100">
                        </div>
                        <button type="button" id="add-artist" class="w-4/5 border font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700"><b>Add Artist</b></button>
                    </div>
                </div>
            </div>
            <div class="w-full flex justify-center">
                <button type="submit" class="w-3/4 border font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700"><b>Submit</b></button>
            </div>
        </form>
    </div>
    <div class="h-4 w-full">
        <img class="fixed bottom-0 w-full" src="{{url_for('static',filename='./footpage.png')}}"/>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>
</html>
<script>
    numberOfArtists = 1;

    document.addEventListener("DOMContentLoaded", function(){
        const buttonAddArtist = document.getElementById("add-artist");
        const artistsDiv = document.getElementById("artists-div");

        buttonAddArtist.addEventListener("click", function(){
            numberOfArtists = numberOfArtists + 1;
            const additionalArtist = document.createElement("input");
            additionalArtist.type = "text";
            additionalArtist.name = "artists";
            additionalArtist.id = "artists";
            additionalArtist.className = "text-gray-800 w-4/5 bg-amber-100";
            artistsDiv.appendChild(additionalArtist);
        });
    });

    selecter = document.getElementById('program');
    selecter.onchange = (event) => {
        inputNumberDiv = document.getElementById('tracks_number_div');
        if (selecter.value == "bestof" || selecter.value == "creatorhelper") {
            inputNumberDiv.removeAttribute("hidden");
        } else {
            inputNumberDiv.setAttribute("hidden","hidden");
        }
    };
</script>