<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='./dist/output.css')}}" rel="stylesheet">
    <link href="data:image/svg+xml;utf8,<svg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 18 16'>
        <path d='M14.316.051A1 1 0 0 0 13 1v8.473A4.49 4.49 0 0 0 11 9c-2.206 0-4 1.525-4 3.4s1.794 3.4 4 3.4 4-1.526 4-3.4a2.945 2.945 0 0 0-.067-.566c.041-.107.064-.22.067-.334V2.763A2.974 2.974 0 0 1 16 5a1 1 0 0 0 2 0C18 1.322 14.467.1 14.316.051ZM10 3H1a1 1 0 0 1 0-2h9a1 1 0 1 1 0 2Z'/>
        <path d='M10 7H1a1 1 0 0 1 0-2h9a1 1 0 1 1 0 2Zm-5 4H1a1 1 0 0 1 0-2h4a1 1 0 1 1 0 2Z'/>
      </svg>" rel="icon">
    <title>TheseAre</title>
</head>
<body class="h-screen bg-white dark:bg-gray-900 dark:text-white text-center">
    <h1 class="h-16 text-amber-500 text-3xl"><b>Helper</b></h1>
    <div id="app" class="w-4/5 h-96 bg-gray-800 border rounded-lg mx-auto">

        <div id="suggestionContainer" style="display: none;">
            <div class="h-4">
            </div>
            <div class="h-96 flex flex-col content-between">
                <div id="suggestionInfo" class="text-3xl">
                    <!-- Display track information here -->
                </div>

                <div id="interactionButtons" class="w-4/5 flex flex-row px-16 place-content-around">
                    <button id="addTrackBtn" class="w-2/5 border font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700">Add to Playlist</button>
                    <button id="skipTrackBtn" class="w-2/5 border font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700">Skip</button>
                </div>
            </div>
        </div>
    </div>
    <div class="h-4 w-full">
        <img class="fixed bottom-0 w-full" src="{{url_for('static',filename='./footpage.png')}}"/>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>
</html>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    var tracklist;

    const suggestionContainer = document.getElementById('suggestionContainer');
    const suggestionInfo = document.getElementById('suggestionInfo');
    const addTrackBtn = document.getElementById('addTrackBtn');
    const skipTrackBtn = document.getElementById('skipTrackBtn');

    let currentSuggestionIndex = 0;
    let track_reviewed = [];

    function delay(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }
    socket.on("startup", (tl) => {
        console.log("Connected :")
        console.log(tl);
        console.log(Object.keys(tl).length);
        tracklist = tl;
    });

    socket.on("response_next_track", (track_name, track_artists, track_album, track_cover, track_audio) => {
        track_reviewed = [track_name, track_artists, track_album, track_cover, track_audio];
        console.log("Received track");
        console.log(track_name);
        console.log(track_artists);
        console.log(track_album);
        console.log(track_cover);
        console.log(track_audio);
        console.log(track_reviewed);
        showSuggestion();
    });

    socket.emit("next_track", currentSuggestionIndex);
    addTrackBtn.addEventListener('click', function() {
        // Add current track to the playlist (you may want to send this to the backend)
        // For example: addToPlaylist(suggestions[currentSuggestionIndex]);

        // Show the next suggestion
        currentSuggestionIndex++;
    });

    skipTrackBtn.addEventListener('click', function() {
        // Skip to the next suggestion without adding to the playlist
        currentSuggestionIndex++;
        socket.emit("next_track", currentSuggestionIndex);
    });

    function showSuggestion() {
        if (currentSuggestionIndex < Object.keys(tracklist).length) {
            suggestionInfo.innerHTML = `
                <img src="${track_reviewed[3]}" alt="Album Cover" style="float:right;padding:10px;width:300px;height:300px;">
                <p>${track_reviewed[0]} - ${track_reviewed[1]}</p>
                <p>Album: ${track_reviewed[2]}</p>
                <br><br>
                <audio class="block w-full max-w-md mx-auto" controls>
                    <source src="${track_reviewed[4]}" type="audio/mp3">
                    Your browser does not support the audio tag.
                </audio>
            `;
            suggestionContainer.style.display = 'block';
        } else {
            // No more suggestions, display a message or handle as needed
            suggestionContainer.style.display = 'none';
        }
    }
</script>